.main{
    background-image: url("https://www.oecd.org/media/oecdorg/directorates/environmentdirectorate/2020-2/leaves-5308582_1920.jpg");
    background-size: cover;
    height: 100%;
}

h1{
    text-align: center;
    color: white;
    font-size: 50px;
}

label{
    color: white;
    font-size: 19px;
    margin: 10px;
    font-weight: 700;
    text-align: center;
}

.result{
    color: white;
    text-align: center;
    margin-top: 50px;
}

.button-enviar{
    margin: auto;
    display: block;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 80%;
}

.container-form{
    width: 80%;
    margin: auto;
}