.content-login{
    height: 100vh;
    background-image: url("../images/huella8.jpg");
}

.login-window{
    background-color: white;
    height: 380px;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-window h3{
    margin-bottom: 50px;
}