
.cards-menu .container-card{
    display: flex;
    align-items: center;
    position: relative;
}

.container-card div{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
}

.container-card div button{
    color: white;
    text-decoration: none;
    text-align: center;
    width: 50%;
    height: 35px;
    font-size: 20px;
    margin: 5px;
    border-radius: 10px;
    background-color: rgb(12,125,3);
}

.form_calculo{
    position: relative
}

table{
    width: 100%;
    text-align: center;
}

table th{
    width: 33%;
}

table tr{
    width: 33%;
}









