.content-initial-menu{
    width: 100%;
    z-index: -10;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.description{
    height: 80%;
    color: white;
}
