.content-initial-menu{
    height: 100vh;
    width: 100%;
    background-image: url("https://p4.wallpaperbetter.com/wallpaper/286/965/77/nature-forest-1920x1080-nature-forests-hd-art-wallpaper-preview.jpg");
    background-position: center;
    background-size: cover;
}

.description{
    height: 80%;
    color: white;
}